@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .row4 {
        background-color: #9d959de6;
    }

    .firstLastCol {
        background-color: #dcdcdc;
        height: 213px;
    }

    .rowCol {
        margin-bottom: -1em;
    }
</style>
<style>
    .featured-image {
        height: 536px;
        position: relative;
        margin-top: -1em;
        background-image: url("https://cdn.wallpapersafari.com/47/35/R1oS3j.jpg");
    }

    .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .healthText {
        color: white;
        position: absolute;
        z-index: 2;
        font-weight: bold;
        /*text-align: center;*/
    }
</style>
<div class="featured-image">
    <div class="overlay"></div>
    <div class="">
        <div class="">

        </div>
        <div class="col-md-6">
            <br /><br /><br /><br /><br /><br />
            <h2 class="healthText">HEALTH CARE FOR WHOLE FAMILY</h2>
            <br /><br />
                  <h6 class="healthText">In healthcare sector, service excellence is the facility of the hospital as healthcare service provider to consistency</h6>
            <br /><br />
                  <div style="text-align:center; margin-top:6em">
                      <button class="btn btn-lg btn-primary healthText" style="text-align:center">CHECK OUT OUR SERVICES</button>
                  </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

<div class="row rowCol">
    
    <div class="col-md-4  firstLastCol">
        <div>
            <br /><br /><br />

            <h5 style="text-align:center;color:white">
                <i class="fa fa-medkit" style="font-size:48px;color:#4f3636"></i>
            </h5>
            <h5 style="text-align:center;color:white">
                <b>Hospitality</b>
            </h5>
            <p>

            </p>
        </div>
        
    </div>
    <div class="col-md-4 row4">
        <div>
            <br /><br /><br />
            <h5 style="text-align:center;color:white">
                <i class="fa fa-ambulance" style="font-size:48px;color:#4f3636"></i>
            </h5>
            <h5 style="text-align:center;color:white">
                <b>Emergency</b>
            </h5>
            <p>

            </p>
        </div>
    </div>
    <div class="col-md-4 firstLastCol">
        <div>
            <br /><br /><br />
            <h5 style="text-align:center;color:white">
                <i class="fa fa-heartbeat" style="font-size:48px;color:#4f3636"></i>
            </h5>
            
            <h5 style="text-align:center;color:white"><b>Heart Rate</b></h5>
            <p>

            </p>
        </div>
    </div>
</div>

